/* Your custom css code goes here */

/*.probootstrap-heading{
	position: absolute !important ;
	top: 25% !important;
}
.navbar-brand{
	height: 80px !important;
	width: 240px !important;
	 position: absolute;
}*/


#id img{
	max-width: 1% !important;
}